* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
html,
body,
div#root {
  height: 100%;
  width: 100%;
} */

html {
  font-size: 62.5%;
}

body {
  background-color: $color-grey-light-2;
}
