.profile__link {
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  &:hover,
  &--active {
    color: $main-color;
  }

  &-img {
    height: 4rem;
    width: 4rem;
    border-radius: 20px;
    background-size: cover;
  }
}

.nav-link {
  color: #444;
  text-decoration: none;
  transition: all 0.4s;

  &:hover,
  &:active,
  &--active {
    color: $main-color;
  }
}
