// Testing
// $color-primary-light: #e16d3f;
// $color-primary: #d9480f;
// $color-primary-dark: #ae3a0c;
// $color-secondary: #b40e0e;

$color-primary-light: #33aba0;
$color-primary: #009688;
$color-primary-dark: #00796b;
$color-secondary: #018b9d;

$color-tertiary: #ffa000;
$color-error: #d9480f;
// #b40e0e

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
// $color-grey-light-3: #f0eeee;
$color-grey-light-3: #e2e2e2;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #666;
$color-grey-dark-3: #999;

$header-height: 8rem;

$transition-short: all 0.3s;
