// COLOR
// Testing
// $color-primary-light: #e16d3f;
// $color-primary: #d9480f;
// $color-primary-dark: #ae3a0c;
// $color-secondary: #b40e0e;

$color-primary-light: #33aba0;
$color-primary: #009688;
$color-primary-dark: #00796b;
$color-secondary: #018b9d;

$color-tertiary: #ffa000;
// $color-tertiary: #ffbc6b;
// $color-tertiary: #e49170;
$color-error: #d9480f;
// #b40e0e

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
// $color-grey-light-3: #f0eeee;
$color-grey-light-3: #e2e2e2;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #666;
$color-grey-dark-3: #999;

// Slight hue towards primary color
// $color-grey-dark-1: #263533;
// $color-grey-dark-2: #586362;
// $color-grey-dark-3: #819794;

// APP CUSTOMIZATION
$header-height: 8rem;

// TRANSITIONS
$transition-short: all 0.3s;

// TYPOGRAPHY
// FAMILIES
// $font-family-main: "Nunito", sans-serif;
$font-family-main: "Nunito Sans", sans-serif;
$font-family-secondary: "Montserrat", sans-serif;

// SIZES
$fs-smallest: 1.4rem;
$fs-small: 1.6rem;
$fs-medium: 1.8rem;
$fs-large: 2rem;
$fs-largest: 2.4rem;

// BORDER RADIUS
$br-small: 0.5rem;
$br-medium: 1rem;

// SPACING
$m1: 0.5rem;
$m2: 1rem;
$m3: 2rem;
$m4: 4rem;

$p1: 1rem;
$p2: 1rem;
$p3: 1rem;
$p4: 1rem;

$side-padding-mb: 2%;
$side-padding-pc: 10%;

$side-margin-mb: 5%;
$side-margin-pc: 10%;

// Z-INDEX
$z-mob-nav: 10;
$z-auth-form: 5;
$z-loading-page: 100;

// MEDIA QUERIES BREAKPOINTS
$bp-desktop: 75em; // 1200px
$bp-tablet: 64em; // 1024px
$bp-mobile: 48em; // 768px
