.loading-page-container {
  width: 100vw;
  height: calc(100vh - $header-height);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  // background-image: linear-gradient(
  //   to right bottom,
  //   lighten($color-primary, 5),
  //   lighten($color-primary-dark, 5)
  // );
  background: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-secondary, 0.8)
  );
  z-index: $z-loading-page;
  font-size: 4rem;
  color: #fff;

  h1 {
    font-size: inherit;
    letter-spacing: 0.1rem;
    color: inherit;
  }

  .spinner {
    font-size: inherit;
    color: inherit;
    animation: rotateSpinner 1s infinite;
  }
}
