.profile {
  background-image: radial-gradient(#fff, #cbdbe3);

  &__background {
    height: 32rem;
    background: url("./../../Assets/profile-background-default.jpg");
    background-size: cover;
  }

  .user {
    display: flex;
    gap: 5rem;

    &__img {
      height: 22rem;
      width: 22rem;
      background-image: url("./../../Assets/user_default.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 100%;
      margin-top: -10rem;
      margin-left: 10%;
      // border: 5px solid #fff;
      // box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
      //   rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      //   rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      box-shadow: rgba($color-grey-dark-1, 0.2) 0px 1px 1px 0px inset,
        rgba($color-grey-dark-1, 0.2) 0px 50px 100px -20px,
        rgba($color-grey-dark-1, 0.3) 0px 30px 60px -30px;
    }

    &__details {
      /* width: 100% - var(.profile-img).profile-img; */
      width: 50%;
      margin-top: 2rem;
    }

    &__name {
      font-size: 2.5rem;
      // color: #222;
      color: $color-grey-dark-1;
    }

    &__description {
      margin-top: 1rem;
      font-size: 1.6rem;
      // color: #444;
      color: $color-grey-dark-2;
    }
    &__social-links {
      margin-top: 2rem;
      display: flex;
      gap: 2rem;
    }
  }

  &__sub-container {
    display: flex;
    // align-items: center;
    padding: 0 10%;
    gap: 5rem;
    margin-top: 5rem;
  }

  &__options {
    // flex: 0 0 25%;
    background-color: $color-grey-dark-3;
    height: 100%;
    width: 22rem;
    // width: 10rem;
    height: 20rem;
    border-radius: 0.5rem;
  }

  .posts {
    flex: 0 0 50%;
    margin: 0;
    // flex: 1;
  }
}

.media-link {
  text-decoration: none;
  font-size: 1.6rem;
  // color: #444;
  color: $color-grey-dark-2;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 2px;
}
