.profile {
  background-image: radial-gradient(#fff, #cbdbe3);

  &__background {
    height: 32rem;
    background: url("./../../Assets/profile-background-default.jpg");
    background-size: cover;
  }

  .user {
    display: flex;
    gap: 5rem;

    @media only screen and (max-width: $bp-mobile) {
      flex-direction: column;
      align-items: center;
      // align-items: flex-start;
      gap: 0;
    }

    &__img {
      height: 22rem;
      width: 22rem;
      background-image: url("./../../Assets/user_default.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 100%;
      margin-top: -10rem;
      margin-left: $side-margin-pc;
      box-shadow: rgba($color-grey-dark-1, 0.2) 0px 1px 1px 0px inset,
        rgba($color-grey-dark-1, 0.2) 0px 50px 100px -20px,
        rgba($color-grey-dark-1, 0.3) 0px 30px 60px -30px;

      @media only screen and (max-width: $bp-mobile) {
        height: 15rem;
        width: 15rem;
        // max-width: 15rem;
        margin-left: 0;
      }
    }

    &__details {
      width: 50%;
      margin-top: $m3;

      @media only screen and (max-width: $bp-mobile) {
        // padding-left: $side-padding-mb;
        // margin-left: $side-margin-mb;
        width: unset;
        text-align: center;
      }
    }

    &__name {
      font-size: 2.4rem;
      color: $color-grey-dark-1;
    }

    &__description {
      margin-top: $m2;
      font-size: 1.6rem;
      color: $color-grey-dark-2;
    }
    &__social-links {
      margin-top: $m3;
      display: flex;
      gap: 2rem;
    }
  }

  &__sub-container {
    display: flex;
    padding: 0 $side-padding-pc;
    gap: 5rem;
    margin-top: $m4;

    @media only screen and (max-width: $bp-mobile) {
      padding: 0;
    }
  }

  &__options {
    background-color: $color-grey-dark-3;
    height: 100%;
    min-width: 22rem;
    height: 20rem;
    border-radius: 0.5rem;

    @media only screen and (max-width: $bp-mobile) {
      display: none;
    }
  }

  .posts {
    // flex: 0 0 50%;
    margin: 0;
  }
}

.media-link {
  text-decoration: none;
  font-size: 1.6rem;
  // color: #444;
  color: $color-grey-dark-2;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 2px;
}
