.background {
  height: 32rem;
  background: url('./profile-background-default.jpg');
  background-size: cover;
}

.user-img-info {
  display: flex;
  gap: 5rem;
}

.profile-img {
  height: 20rem;
  width: 20rem;
  background: url('https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80')
    no-repeat center;
  background-size: cover;
  border-radius: 100%;
  margin-top: -10rem;
  margin-left: 20rem;
  border: 5px solid #fff;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.user-info {
  /* width: 100% - var(.profile-img).profile-img; */
  width: 50%;
  margin-top: 2rem;
}

.name {
  font-size: 2.5rem;
  color: #222;
}

.description {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: #444;
}

.media-links-div {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.media-link {
  text-decoration: none;
  font-size: 1.6rem;
  color: #444;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 2px;
}

.icon {
  color: #222;
}
