.btn {
  padding: 1rem 3rem;
  font-size: $fs-medium;
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: $br-small;
  transition: $transition-short;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $color-primary-dark;
  }
}
