.btn {
  padding: 1rem 3rem;
  font-size: 1.8rem;
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    background-color: $color-primary-dark;
  }
}
