.posts {
  margin: 0 auto;
  width: 60rem;
  max-width: 100%;
  min-height: calc(100vh - $header-height);
  // background-color: rgba($color-grey-light-1, 0.5);

  &__end {
    margin-top: 4rem;
    text-align: center;
    font-size: 1.6rem;
    color: $color-grey-dark-3;
  }
}
