.posts {
  margin: 0 auto;
  max-width: 50rem;
  width: 100%;
  min-height: calc(100vh - $header-height);

  @media only screen and (max-width: $bp-mobile) {
    padding: 0 $side-padding-mb;
  }

  &__end {
    margin-top: $m4;
    text-align: center;
    font-size: $fs-small;
    color: $color-grey-dark-3;
  }
}
