.posts {
  margin: 0 auto;
  width: 60rem;
  max-width: 100%;
  min-height: calc(100vh - $header-height);

  &__end {
    margin-top: $m4;
    text-align: center;
    font-size: $fs-small;
    color: $color-grey-dark-3;
  }
}
