.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    font-size: 4rem;
    color: #fff;
    animation: rotateSpinner 1s infinite;
  }
}
