.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;

  height: fit-content;
  min-height: 15rem;

  padding: 1rem 4rem;
  margin-bottom: 0.5rem;

  border-radius: 0.5rem;
  background-color: #fff;
  background-image: linear-gradient(
    to right bottom,
    $color-grey-light-2,
    #f7f7f7
  );
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  &:hover {
    cursor: pointer;
  }

  &__content {
    p {
      font-size: 1.6rem;
      // color: #444;
      color: $color-grey-dark-2;
    }
  }

  &__actions {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    // border-bottom: 1px solid $color-grey-light-4;
    // padding-bottom: 2rem;

    &-icon {
      // color: #666;
      color: $color-grey-dark-2;
      height: 2rem;
      width: 2rem;
      transition: all 0.3s;

      &:hover {
        // color: #ffa000;
        color: $color-tertiary;
        cursor: pointer;
      }
    }
  }
  &__action {
    font-weight: 600;
    font-size: 1.6rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 0.3rem;
    color: $color-grey-dark-2;
  }

  &__comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    font-size: 1.6rem;
    background-color: $color-grey-light-2;
    color: $color-grey-dark-2;
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;

    .profile__link {
      font-size: 1.8rem !important;
      gap: 0.5rem !important;

      &-img {
        width: 4rem !important;
        height: 4rem !important;
      }
    }

    &-text {
      margin-top: 0.5rem;
      padding: 0 1rem;
    }
  }
}

.nav-profile-img {
  /* border: 1px solid #000; */
  height: 4rem;
  width: 4rem;
  border-radius: 20px;
  /* background: url('https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80')
    no-repeat center;
  background-size: cover; */
}
