.post {
  height: fit-content;
  min-height: 15rem;
  /* width: 60rem; */
  /* margin: 0 auto; */
  padding: 1rem 4rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  border-bottom: 1px solid $color-grey-light-3;

  &__content {
    p {
      font-size: 1.6rem;
      // color: #444;
      color: $color-grey-dark-2;
    }
  }
}

.post__actions {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;

  &-icon {
    // color: #666;
    color: $color-grey-dark-2;
    height: 2rem;
    width: 2rem;
    transition: all 0.3s;

    &:hover {
      // color: #ffa000;
      color: $color-tertiary;
      cursor: pointer;
    }
  }
}

.nav-profile-img {
  /* border: 1px solid #000; */
  height: 4rem;
  width: 4rem;
  border-radius: 20px;
  /* background: url('https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80')
    no-repeat center;
  background-size: cover; */
}
