.post-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60rem;
  width: 80rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    max-width: 95vw;
  }

  // background-color: $color-grey-dark-3;
  background-image: radial-gradient(
    rgba(247, 247, 247, 0.9),
    rgba(223, 223, 223, 0.9)
  );
  background-image: radial-gradient(
    darken(rgba($color-grey-light-4, 0.9), 1),
    darken(rgba($color-grey-light-3, 0.9), 1)
  );
  background-image: radial-gradient(
    rgba(235, 235, 235, 0.9),
    rgba(204, 204, 204, 0.9)
  );
  padding: 2rem 4rem;
  border-radius: 1rem;

  &-bg {
    background-color: rgba(#000, 0.3);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100vw;
    position: fixed;
  }

  .profile__link {
    font-size: 2.4rem;
    align-self: flex-start;
    display: inline-flex;
    gap: 1rem;

    &-img {
      height: 5rem;
      width: 5rem;
    }
    // display: inline-block;
    // background-color: red;
  }

  &__close {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    height: 2.5rem;
    width: 2.5rem;
    color: $color-grey-dark-3;
    cursor: pointer;
  }

  &__post-content {
    margin-top: 4rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    color: $color-grey-dark-1;
    // min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }

  &__comments {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    padding-right: 1rem;
    // min-height: 24rem;
    max-height: 100%;
    overflow-y: auto;
    border-radius: 0.5rem;

    // &::-webkit-scrollbar-track {
    //   // -webkit-box-shadow: inset 0 0 6px rgba(4, 4, 4, 0.3);
    //   /* border-radius: 10px; */
    //   // background-color: #444;
    // }

    // &::-webkit-scrollbar {
    //   width: 1.4rem;
    //   background-color: #666;
    // }

    // &::-webkit-scrollbar-thumb {
    //   // border-radius: 10px;
    //   // -webkit-box-shadow: inset 0 0 6px rgba(4, 4, 4, 0.3);
    //   background-color: #999;
    // }
  }
}

.new-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  width: 100%;

  form {
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    background-color: #fff;
  }

  .new-post__button {
    border-bottom-right-radius: 0.5rem;
  }
}
