.post-popup {
  @include centerFixed;

  height: 60rem;
  width: 80rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  padding: 2vh 3vw;
  border-radius: $br-medium;
  background-image: radial-gradient(
    darken(rgba($color-grey-light-4, 0.9), 1),
    darken(rgba($color-grey-light-3, 0.9), 1)
  );
  // background-image: radial-gradient(
  //   rgba(235, 235, 235, 0.9),
  //   rgba(204, 204, 204, 0.9)
  // );

  @media (max-width: 768px) {
    max-width: 95vw;
  }

  &-bg {
    background-color: rgba(#000, 0.3);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100vw;
    position: fixed;
  }

  .profile__link {
    font-size: $fs-largest;
    align-self: flex-start;
    display: inline-flex;
    gap: 1rem;

    &-img {
      height: 5rem;
      width: 5rem;
    }
  }

  &__close {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    height: 2.5rem;
    width: 2.5rem;
    color: $color-grey-dark-3;
    cursor: pointer;
  }

  &__post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 1.5rem;
    font-size: $fs-large;
    color: $color-grey-dark-1;
    gap: 2rem;
  }
}
